.container {
  box-sizing: border-box;
  max-width: 64rem; /* 384px */
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 992px) {
    max-width: 60rem; /* 960px */
  }

  @media screen and (max-width: 640px) {
    max-width: 38rem; /* 608px */
  }

  @media screen and (max-width: 416px) {
    max-width: 25rem; /* 400px */
  }

}
